.err-text {
  /* margin-left: 273px; */
}
.fieldset2 {
  display: inline-block;
  width: 373px;
  margin-left: 270px !important;
}
.button3 {
  border: 3px solid #04d3d9 !important;
  background-color: transparent !important;
  color: #04d3d9 !important;
}
.image-specific {
  width: 160px;
  padding-left: 384px;
}

.snackbar {
  left: 9em;
}

.botton2 {
  margin-left: 40px;
}
.logocircle {
  width: 150px;
  height: 85px;
  margin-top: 55px;
  margin-left: 25px;
}
.imgcirlce {
  margin: 4em 1em 1em 5.8em;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
}
.box-left {
  grid-area: left;
  padding: 50px;
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.box-right {
  background-color: #04d3d9;
  grid-area: right;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.box-wrapper {
  grid-template-columns: 1.5fr 1.5fr 2fr;
  display: grid;
  grid-template-areas: "left left right";
}

.box-wrapper2 {
  grid-template-columns: 2fr 1.5fr 1.5fr;
  display: grid;
  grid-template-areas: "left2 right2 right2";
}
.box-right2 {
  grid-area: right2;
  padding: 50px;
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.box-left2 {
  background-color: #04d3d9;
  grid-area: left2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line span {
  background: #fff;
  padding: 0 10px;
}

.btns {
  position: absolute;
  bottom: 32em;
}

#fname {
  background-image: url("./../../assets/icons/input/user.svg");
}

.password-strength-indicator {
  font-family: "Poppins regular";
  font-size: 17px;
  border-radius: 50px;
  height: 25px;
  min-width: 23.5%;
  text-align: center;
  transition: 1s;
  margin: 10px 0;
  color: #ffffff;
  padding: 0.5em 0;
}

.password-strength-indicator.very-weak {
  background: red;
  width: 25%;
}
.password-strength-indicator.weak {
  background: yellow;
  width: 50%;
}
.password-strength-indicator.mediocre {
  background: blue;
  width: 75%;
}
.password-strength-indicator.strong {
  background: green;
  width: 100%;
}

.box-form {
  background-color: white;
  width: auto;
  border-radius: 50px;
  height: 600px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 30px;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

#nxt-btn {
  border-radius: 50px;
  background-color: #04d3d9;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  margin: 5px 2px;
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
  font-weight: bold;
}
#skip-btn {
  border-radius: 50px;
  background-color: white;
  color: #04d3d9;
  width: 100%;
  height: 50px;
  border: 2px solid #04d3d9;
  margin: 5px 2px;
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
  font-weight: bold;
}
#play {
  border-radius: 50px;
  background-color: #04d3d9;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  margin: 5px 2px;
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
  font-weight: bold;
}

.center-svg {
  margin: 0 auto;
}

/* #log-in {
  border-radius: 50px;
  background-color: #04d3d9;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  margin: 5px 2px;
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
  font-weight: bold;
}
#log-btn {
  border-radius: 50px;
  background-color: white;
  color: #04d3d9;
  width: 100%;
  height: 50px;
  border: 2px solid #04d3d9;
  margin: 5px 2px;
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
} */

/* iPhone portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .main {
    /* grid-column-start: 2; */
    display: unset;
  }

  .snackbar {
    left: unset;
    bottom: 1em;
  }

  .box-form {
    min-height: 100vh;
  }

  .box-left {
    grid-area: left;
    padding-left: 38px;
    padding-right: 50px;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .box-right {
    display: none !important;
  }
  .box-wrapper {
    grid-template-columns: 1.5fr 1.5fr 2fr;
    display: flex;
    grid-template-areas: "left left right";
  }

  .box-form {
    background-color: white;
    width: auto;
    border-radius: 0px;
    height: 600px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .image-specific {
    width: 134px;
    padding-left: 110px;
  }

  .fieldset2 {
    display: inline-block;
    width: 300px;
    margin-left: 21px !important;
  }
  .err-text {
    /* margin-left: 23px; */
  }

  /* .main {
    grid-column-start: 2;
    display: unset;
  } */
}

/* iPhone landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  element.style {
    width: 124px;
    height: 75px;
    margin-top: 36px;
    margin-left: 13px;
  }
  .snackbar {
    left: 5em;
  }
  h1 {
    padding-right: 0px;
  }
  p {
    padding-right: 0px !important;
  }
  .logocircle {
    width: 121px;
    height: 72px;
    margin-top: 37px;
    margin-left: 15px;
  }
  .imgcirlce {
    margin: 4em 3em 1em 4.5em;

    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
  }
  .box-left {
    grid-area: left;
    padding-left: 38px;
    padding-right: 50px;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .box-right {
    background-color: #04d3d9;
    grid-area: right;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .box-wrapper {
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5f;
    display: flex;
    grid-template-areas: "left left left right";
  }

  .box-form {
    background-color: white;
    width: auto;
    border-radius: 0px;
    height: 600px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .botton2 {
    margin-left: 27px;
    width: 80% !important;
  }

  .button3 {
    display: none !important;
  }
  .image-specific {
    width: 97px;
    padding-left: 274px;
  }
  .fieldset2 {
    display: inline-block;
    width: 373px;
    margin-left: 130px !important;
  }
  .err-text {
    /* margin-left: 132px; */
  }
}
/* iPad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .button3 {
    display: none !important;
  }
}
/* iPad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .button3 {
    display: none !important;
  }
  .image-specific {
    width: 160px;
    padding-left: 253px;
  }
  .botton2 {
    margin-left: 14px;
    margin-right: 9px;
  }
  .imgcirlce {
    margin: 4em 1em 1em 4.1em;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
  }
  .fieldset2 {
    display: inline-block;
    width: 373px;
    margin-left: 142px !important;
  }
  .err-text {
    margin-left: 0px;
}
.snackbar {
  left: 1em;
  bottom: 14em;
}
.forgot-pass-err{
  margin-left: 144px;

}
