.container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr; */
  /* grid-gap: 1em; */
  grid-template-areas:
    "main-image-poi main-image-poi"
    "rating-description rating-description"
    "map map"
    "hunt-details vector"
    "gallery gallery"
    "ratings-reviews ratings-reviews"
    "reviews reviews";
}

.container div {
  /* background-color: teal; */
}

.review-text {
  font-family: "Poppins medium" !important;
  font-size: 16px !important;
  color: #748a9d !important;
}

.main-image-poi {
  grid-area: main-image-poi;
  /* background-color: teal; */
}

.rating-description {
  grid-area: rating-description;
  /* background-color: teal; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-gap: 1em; */
  grid-template-areas:
    "rating favourite"
    "price price"
    "description description";
}

.margin-left {
  margin-left: 1em;
}

.rating {
  grid-area: rating;
}

.favourite {
  grid-area: favourite;
  justify-content: flex-end;
  display: flex;
}

.price {
  grid-area: price;
}

.description {
  grid-area: description;
}

.map {
  grid-area: map;
  /* background-color: teal; */
}

#map-container {
  height: 40vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hunt-details {
  grid-area: hunt-details;
  /* background-color: teal; */
  font-family: "Poppins regular" !important;
  font-size: 16px !important;
  color: #748a9d !important;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin-top: 1em;
}

.vector {
  grid-area: vector;
  /* background-color: teal; */
  margin-top: 2.5em;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery {
  grid-area: gallery;
  /* background-color: teal; */
}

.ratings-reviews {
  grid-area: ratings-reviews;
  /* background-color: teal; */
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas:
    "rating-head rating-head"
    "ratings ratings";
}

.container h2 {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 8px !important;
}

.container .ui-content {
  padding: 0px 16px 16px 16px;
}

.rating-head {
  grid-area: rating-head;
}

.ratings {
  grid-area: ratings;
  margin-bottom: 1em;
}

.rating-numbers {
  /* grid-area: rating-numbers; */
}

.rating-numbers div span {
  margin-right: 1em;
}

.description p {
  margin: 0;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.heart {
  color: #ef5350;
}

.like {
  margin-left: 0.5em;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.footer {
  z-index: 5;
}

.review-card {
  background-color: #f0f4f8;
  padding: 1em;
  border-radius: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.reviews {
  grid-area: reviews;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1em;
}

/* POIs */
.poi-img-main-text {
  font-family: "Poppins bold" !important;
  font-size: 30px !important;
  color: #fff !important;
}

.poi {
  position: relative;
  height: 50vh;
}

.poi img {
  border-radius: 0 0 1em 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poi .poi-info {
  padding: 1em;
  position: absolute;
  z-index: 3;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 95%;
}

.poi-img-icon-color {
  filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(116%)
    hue-rotate(184deg) brightness(93%) contrast(82%);
}

.poi .poi-info img {
  width: 1em;
}

.poi:before {
  border-radius: 1em;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.9)
  );
}

.book-btn {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 1;
}

.center-vertically {
  display: flex;
  align-items: center;
}

/*///////////// gallery CSS /////////////*/

/* .-fx-image-gal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  justify-content: center;
}
.-fx-gal-item {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.-fx-gal-item a {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.-fx-gal-image-thumb img {
   width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: all 0.5s ease; 
  width: 100%;
   cursor: pointer; 
   -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%);
   filter: grayscale(100%); 
  transform: scale(1.1);
   transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.5);
  transition: all 0.5s ease;
}

@media (min-width: 420px) {
  .-fx-image-gal {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .-fx-gal-item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .-fx-gal-item {
    width: 33.33%;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}

.video {
  width: 100%;
  height: 400px;
  margin: auto;
  display: block;
  border: none;
}

.popup-btn,
.close-btn {
  width: 100px;
  height: 50px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  outline: unset;
   border: 2px solid black;
  background-color: white; 
}

.popup-btn:hover {
  color: white;
  background-color: black;
}

.video-popup {
  display: none;
  width: 75%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  box-shadow: 10px 10px 10px 10px black;
  z-index: 7;
}

.popup-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}

.popup-content {
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
}

.vid-pop {
  background-image: url("./../../assets/images/pois/british-museum-vid-bg.jpg");
  background-size: cover;
} */

/* Gallery start */

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 6em 2em 6em;
  grid-gap: 1em;
  grid-template-areas:
    "video video img1 img3"
    "video video img1 img4"
    "video video img2 img4";
  /* height: 20vh; */
  /* width: 75vw; */
}

.video {
  grid-area: video;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  /* background-image: url(/assets/icons/play.svg); */
}

.video:before {
  content: "";
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.play-btn {
  position: absolute !important;
  z-index: 1;
  object-fit: contain !important;
  width: 5em !important;
  right: 39%;
  /* display:  block !important; */
  /* top: 5%; */
}

.video-frame {
  display: block;
  width: 100%;
  height: 40vh;
  margin-top: 3em;
}

.vid-img {
  position: relative !important;
  top: 10 !important;
  left: 0 !important;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.gallery-grid div {
  background-color: tomato;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gallery end */

/* iPad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .book-btn {
    bottom: 80px;
  }
}

/* iPad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* iPhone portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    grid-template-areas:
      "main-image-poi main-image-poi"
      "rating-description rating-description"
      "map map"
      "hunt-details hunt-details"
      "gallery gallery"
      "ratings-reviews ratings-reviews"
      "reviews reviews";
  }

  .vector {
    display: none !important;
  }

  .book-btn {
    bottom: 80px;
    right: 2.5em;
  }

  .gallery-grid {
    grid-template-rows: 3em 2em 3em;
  }

  .play-btn {
    width: 3em !important;
    /* right: 39%; */
    /* display:  block !important; */
    /* top: 5%; */
  }

  .reviews {
    grid-template-columns: 1fr;
  }
}

/* iPhone landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .play-btn {
    width: 3em !important;
    /* right: 39%; */
    /* display:  block !important; */
    /* top: 5%; */
  }
  .video-frame {
    display: block;
    width: 100%;
    height: 74vh;
    margin-top: 2em;
  }
}
