#profile-header {
  margin-top: 3px;
  grid-area: profile-header;
}
.search-header {
  z-index: 1;
  background-image: url(/assets/images/headers/my\ hunts.png);
  background-repeat: no-repeat;
  height: 300px;
  background-size: 800px 200px;
}
.search-tab-title {
  color: white !important;
  text-align: center;
  margin-top: 0px;
  padding-top: 50px;
}

.filter{
  margin-left: 611px;
        margin-bottom: 20px;
}
.poi .poi-info {

  z-index: 0!important;
}
.close-modal {
  width: 50px!important;
  height: 50px!important;
  
}

.modal{
  box-sizing:unset!important;
    display: inline-block;
    max-width: none!important;
  }

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1.2fr 1.2fr 0.8fr 0.2fr;
  grid-template-areas:
    "nav "
    "sidebar "
    "sidebar "
    "sidebar ";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

nav {
  background: #a7ffeb;
  grid-area: nav;
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

#profile-footer {

  grid-area: profile-footer;
}
.grid-container {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 1px 1px 3px 4px #ccc;
  background-color: rgb(255, 255, 255);

  display: grid;

  grid-template-rows: 110px 70px 50px 50px;
  grid-template-areas:
    "profile-header"
    "profile-footer"
    "profile-footer"
    "profile-footer";
}
ul{
    display: flex;
    margin-bottom: 10px;
}
.list {
  text-align: center;
  border: none;
  outline: none;
  padding: 45px 26px 62px 15px;
  background-color: #f1f1f1;
  cursor: pointer;
}
li{

  font-family: "Poppins regular" !important;
  font-size: 16px !important;
  color: #748a9d !important;
 
  width: 111px;
  height: 0px;
    border-radius: 20px;
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.active, .list:hover {
  background: #04d3d9;
  color: white!important;
}

input[type=text] {
  margin: auto;
  width: 408px;
  box-sizing: border-box;
  border: 0px solid black;
  border-radius: 55px;
  font-size: 16px;
  background-color: white;
  background-image: url(./../../assets/icons/search.svg);
  background-position: 20px 10px;
  background-color: #dbe2ed;
  background-repeat: no-repeat;
  background-size: 53px 43px;
  padding: 23px 20px 21px 89px;
}
/* Hero */
.hero-text {
    font-family: "Poppins bold" !important;
    font-size: 30px !important;
    color: #fff !important;
    margin-top: 8em;
  }
  
  .hero-btn {
    border: 3px solid #fff !important;
    background-color: transparent !important;
    color: #fff !important;
  }
  
  .hero-btn:active {
    border: 3px solid #fff !important;
    background-color: #fff !important;
    color: #000 !important;
  }
  
  .hero {
    height: 105vh;
    background-image: url("./../../assets/images/hero.jpg");
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    border-radius: 0em 0em 2em 2em;
    background-size: 110%;
  }
  
  /* Horizontal scroll */
  .pois-container {
    width: 75vw;
    display: flex;
  }
  
  .pois {
    display: flex;
    overflow: auto;
    padding: 0 1em;
  }
  
  .pois::after {
    content: "";
    min-width: 0.1px;
    height: 15em;
    margin-right: 1em;
    position: relative;
  }
  
  .poi {
    min-width: 13em;
    max-width: 13em;
    height: 15em;
    margin-right: 1em;
    position: relative;
  }
  
  .poi:before {
    border-radius: 1em;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.9)
    );
  }
  
  .poi img {
    border-radius: 1em;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .poi-img-icon-color {
    filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(116%)
      hue-rotate(184deg) brightness(93%) contrast(82%);
  }
  
  .poi .poi-info {
    padding: 1em;
    position: absolute;
    z-index: 3;
    bottom: 0px;
    left: 0px;
  }
  
  .poi .poi-info img {
    width: 1em;
  }
  
  /* Other */
  .categories {
    background: #fff;
  }
  
  /* iPad portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .pois-container {
      width: 100vw;
    }
  
    .hero {
      height: 85vh;
    }
  
    .hero-text {
      margin-top: 10em;
    }
      li{
            height:unset;
      }
/* .list {
        height: 116px!important;
    }  */
  }
  
  /* iPad landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  
  }
  
  /* iPhone portrait */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .pois-container {
      width: 100vw;
    }
  
    .hero {
      height: 76vh;
    }
  
    .hero-text {
      margin: 0 0 10.5em 0;
    }
    input[type=text] {
      /* margin: auto; */
      margin-left: 27px!important;
      width: 321px;
      box-sizing: border-box;
      border: 0px solid black;
      border-radius: 55px;
      font-size: 14px!important;
      background-color: white;
      background-image: url(./../../assets/icons/search.svg);
      background-position: 21px 4px;
      background-color: #dbe2ed;
      background-repeat: no-repeat;
      background-size: 31px 43px;
      padding: 4px 23px 23px 75px;
  }
  .filter{
    margin-left: 257px;
    margin-bottom: 20px;
  }
  .item {
    float: right;
    width: 157px!important;
    text-align: center;
}
.poi {
    min-width: 5em;
    max-width: 13em;
    height: 12em;
    margin-right: 1em;
    position: relative;
}
.containerItems {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr!important;
  grid-template-rows: 250px 250px 250px 250px 250px 250px!important;
  margin: auto;

}
.card1-text {
  font-family: "Poppins medium" !important;
  font-size: 12px !important;
  color: #fff !important;
}
.card2-text {
  font-family: "Poppins regular" !important;
  font-size: 10px !important;
  color: #dbe2ed !important;
}
.blocker:before {

  height: -1%!important;
}
.modal {
display: flex;
  width: 54%!important;
  height: 73%!important;
  padding: 17px 9px!important;
}

.list {

  padding: 8px 2px 63px 4px;
  height: 0px;
}
li{
      height:unset;
}
ul {
  display:block!important;

}
.blocker {
  height: 90%!important;
  padding: 29px 12px 16px 0px!important;
}
.ui-input-text input, .ui-input-search input, textarea.ui-input-text {
  padding: 15px 74px !important;
}

  }
  
  /* iPhone landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .hero {
      height: 107vh;
      background-size: 100%;
      background-position: center 90%;
    }
  
    .hero-text {
      margin-top: 4em;
    }
  
    .pois-container {
      width: 82vw;
    }
    .item {
      float: right;
      width: 157px!important;
      text-align: center;
  }
  .poi {
      min-width: 5em;
      max-width: 13em;
      height: 12em;
      margin-right: 1em;
      position: relative;
  }
  .containerItems {

    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
  .filter{
    margin-left: 432px;
    margin-bottom: 20px;
  }
  }
  