.grid-container {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 1px 1px 3px 4px #ccc;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 1fr;
  grid-template-rows: 110px 70px 50px 50px;
  grid-template-areas:
    "img profile-header signout"
    "img stats-data stats-data"
    "tab-item tab-item tab-item"
    "tabname tabname tabname";
}
.stats-data-value {
  margin: 1px;
  color: white !important;
}

.player-stats-values{
  text-align: right;
}
#rank-name {
  margin: auto;
  margin-left: 0px;
}
.rank-card-view {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  background-color: #f0f4f8;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Poppins medium";
  width: 350px;
}
.active-rank {
  background-color: #748a9d;
}
.active-rank h3 {
  color: white !important;
}
.poi-img-icon-color {
  filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(116%)
    hue-rotate(184deg) brightness(93%) contrast(82%);
  width: 1em;
}
.side {
  -moz-box-shadow: 1px 1px 3px 4px #ccc;
  -webkit-box-shadow: 1px 1px 3px 4px #ccc;
  box-shadow: 1px 1px 3px 4px #ccc;
}
#list-view {
  width: 140px !important;
  margin: 5px !important;
}
#unlisted-view {
  padding: 5px !important;
  margin-top: 5px !important;
  margin: auto;
}
#total-points-value {
  color: #04d3d9 !important;
}
#points-title {
  color: #404e5a !important;
  margin: 1px;
}
#circle {
  margin: 20px;
  text-align: center;
}
.points {
  text-align: center;
  margin-top: -130px;
}
.tab-heading {
  margin: -90px 0px 0px 25px !important;
}
.p {
  color: #748a9d !important;
}
.tab-item1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px;
  margin: 30px;
  margin-top: 0px;
}

.tab-item2 {
  margin-top: 90px;
  margin-bottom: 30px !important;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 180px;
}

.collectables {
  vertical-align: middle;
  margin: 5px;
  border-radius: 60%;
  height: 50px;
  width: 50px;
  grid-area: collectables;
}

#stat-name {
  color: #748a9d !important;
  margin: 5px 5px 5px 0px;
}
#stat-value {
  color: #748a9d !important;
  font-weight: bold !important;
  font-size: larger;
  margin: 5px 5px 5px 55px;
}

.player-stats {
  display: grid;
  grid-template-columns: 214px 90px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.profile-pic {
  vertical-align: middle;
  margin: 40px;
  border-radius: 60%;
  height: 140px;
  width: 140px;
  grid-area: img;
}
.stats-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 120px;
  border-radius: 10px;
  background-color: #404e5a;
  padding: 10px;
  text-align: center;
  grid-area: stats-data;
  height: min-content;
}
#profile-header {
  margin-top: 50px;
  grid-area: profile-header;
}

#signout {
  margin-top: 50px;
  grid-area: signout;
}

#tab-item {
  grid-area: tab-item;
  padding: 0px;
  /* margin: auto; */
}

.tab-nav {
  padding: 0.5em 0;
  width: 10.5em !important;
  border-radius: 3em !important;
  background-color: #04d3d9 !important;
  border: 3px solid #04d3d9 !important;
  font-family: "Poppins semibold" !important;
  font-size: 13px !important;
  color: #fff !important;
  text-shadow: none !important;
}

#tabname {
  grid-area: tabname;
  margin-left: 20px;
  margin-top: 5px;
}
h2 {
  margin: 1px;
}

#stats-data-name {
  margin: 1px;
  color: white !important;
}

/* Ticket styles ---------------------------------------------------- */
.tickets-grid {
  margin-top: 18px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-items: center;
}
#ticket-card {
  margin-top: 15px;
  width: 320px;
  background-color: #f0f4f8;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 25px 25px 25px 25px;
  grid-template-areas:
    "ticketId price"
    "from price"
    "date price"
    "seats price";
}
#ticketId {
  grid-area: ticketId;
  color: #000000 !important;
  margin: 5px;
}
#price {
  margin: auto;
  padding: 25px;
  grid-area: price;
  color: #000000 !important;
  border-left-style: dotted;
}
#from {
  grid-area: from;
  color: #748a9d !important;
  margin: 5px;
}
#date {
  grid-area: date;
  color: #748a9d !important;
  margin: 5px;
}
#seats {
  grid-area: seats;
  color: #748a9d !important;
  margin: 5px;
}
.footer {
  padding-bottom: 80px;
  margin-top: 15px;
}

.ticket-image {
  margin-bottom: -10px;
  margin-right: 5px;
}

/* Coupon styles ---------------------------------------------------- */
.coupons-grid {
  margin-top: 18px;
  display: grid;
  margin-left: 12px;
  grid-template-columns: 0.3fr 0.3fr;
  justify-items: center;
}
#coupon-card {
  background-image: url("./../../assets/images/coupon-bg.png");
  background-size: 370px 100px;
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 77px 200px 70px;
  grid-template-rows: 28px 28px 28px;
  grid-template-areas:
    "coupon-img coupon-name coupon-price"
    "coupon-img coupon-validity coupon-price"
    "coupon-img coupon-code coupon-price";
}
#coupon-img {
  grid-area: coupon-img;
  margin: 5px;
}
#coupon-name {
  grid-area: coupon-name;
  color: #748a9d !important;
  font-size: 20px !important;
  margin: 5px;
}
#coupon-price {
  grid-area: coupon-price;
  color: #748a9d !important;
  margin: auto;
  font-size: 20px !important;
}
#coupon-validity {
  grid-area: coupon-validity;
  color: #748a9d !important;
  margin: 5px;
}
#coupon-code {
  grid-area: coupon-code;
  color: #748a9d !important;
  margin: 5px;
}

.pois-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
  margin-top: 17px;
}

.payment-grid {
  text-align: center;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr;
  grid-template-areas:
    "add-card-title add-card-title"
    "debit-card-img credit-card-img"
    "card-select-btn card-select-btn";
}

#add-card-title {
  margin-top: 20px;
  grid-area: add-card-title;
}
#debit-card-img {
  margin-top: 20px;
  grid-area: debit-card-img;
}
#credit-card-img {
  margin-top: 20px;
  grid-area: credit-card-img;
}
#card-select-btn {
  margin: auto;
  text-align: center;
  grid-area: card-select-btn;
}
.poi {
  min-width: 340px;
  max-width: 340px;
  height: 210px;
  margin: 5px;
  position: relative;
}
.favourites {
  height: 25px !important;
  width: 30px !important;
  margin-bottom: 105px;
  margin-left: 280px;
}

.email-share-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

#snackbar {
  font-size: 16px !important;
}

.snackbar {
  right: 12px;
}

.no-favs {
  width: 100%;
  grid-column: 1/3;
  height: 27vh;
}

.check {
  position: relative;
  top: 2em;
}

input[type="checkbox"] {
  /* -webkit-appearance:none; */
  width: 23px;
  height: 30px;
  /* background:white; */
  border-radius: 5px;
  border: 2px solid #555;
}
input[type="checkbox"]:checked {
  /* background: #abd; */
}

.poi:before {
  border-radius: 1em;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.9)
  );
}

.poi img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poi .poi-info {
  padding: 1em;
  position: absolute;
  z-index: 3;
  bottom: 0px;
  left: 0px;
}

.poi .poi-info img {
  height: 25px;
  width: 150px;
}

.card1-text {
  font-family: "Poppins bold" !important;
  font-size: 25px !important;
  color: #fff !important;
}

/* iPad portrait ---------------------------------------------------------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .phone-tab-view {
    display: none;
  }

  .email-share-btn {
    bottom: 6em;
    right: 10px;
  }

  .snackbar {
    right: 12px;
  }
}

/* iPad landscape ---------------------------------------------------------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .phone-tab-view {
    display: none;
  }

  .footer {
    padding-bottom: 0px;
    margin-top: 15px;
  }
}
/* iPhone portrait ---------------------------------------------------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .profile-pic {
    vertical-align: middle;
    margin: 20px;
    border-radius: 60%;
    height: 100px;
    width: 100px;
  }
  #tab-item {
    display: none;
  }
  .grid-container {
    height: 0px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 1px 1px 3px 4px #ccc;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr;
    grid-template-rows: 130px 90px 200px;
    grid-template-areas:
      "img profile-header"
      "stats-data stats-data"
      "tab-list-view tab-list-view";
  }
  #tab-list-view {
    grid-area: tab-list-view;
  }
  .arrow-icon {
    margin-left: 160px;
  }
  .phone-tab-list-view {
    background-color: #f0f4f8;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: "Poppins medium";
    color: #748a9d;
    width: 295px;
  }
  .stats-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #404e5a;
    padding: 10px;
    text-align: center;
  }
  #signout {
    display: none;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    border-radius: 10px;
    background-color: #404e5a;
    padding: 10px;
    text-align: center;
  }
}

/* iPhone landscape ---------------------------------------------------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .profile-pic {
    vertical-align: middle;
    margin: 20px;
    border-radius: 60%;
    height: 100px;
    width: 100px;
  }
  #tab-item {
    display: none;
  }
  .grid-container {
    height: 0px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 1px 1px 3px 4px #ccc;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr;
    grid-template-rows: 130px 90px 200px;
    grid-template-areas:
      "img profile-header"
      "stats-data stats-data"
      "tab-list-view tab-list-view";
  }
  #tab-list-view {
    grid-area: tab-list-view;
  }
  .arrow-icon {
    margin-left: 160px;
  }
  .phone-tab-list-view {
    background-color: #f0f4f8;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: "Poppins medium";
    color: #748a9d;
    width: 465px;
  }
  .stats-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #404e5a;
    padding: 10px;
    text-align: center;
  }
  #signout {
    display: none;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    border-radius: 10px;
    background-color: #404e5a;
    padding: 10px;
    text-align: center;
  }
  .footer {
    padding-bottom: 0px;
    margin-top: 15px;
  }
}
