.add-card-placeholder {
  position: relative;
  margin-left: 10px;
}

.booking-fields > :first-child {
  margin-left: 100px;
}

.field-placeholder {
  margin: 0px;
  border-radius: 10px;
}
.card-list .cardName {
  right: 70px;
  top: 8px;
  position: relative;
}
.card-list {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.card-list > div {
  background-color: #748a9d;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 12em;
  width: 20em;
  border-radius: 10px;
}

.card-list .card-number {
  /* position: relative; */
  top: 30px;
  left: 43px;
}

.card-list .card-name {
  right: 20%;
  /* position: relative; */
  top: 15%;
}

.form-group {
  margin-top: 1em;
}

.cardNumInput input[type="text"] {
  background-image: url("/assets/icons/input/hash.svg");
}

.cardNameInput input[type="text"] {
  background-image: url("/assets/icons/input/user.svg");
}

.expiryDateInput input[type="text"] {
  background-image: url("/assets/icons/input/calendar.svg");
}

.cvcInput input[type="text"] {
  background-image: url("/assets/icons/input/lock.svg");
}

.pois-container {
  width: 75vw;
  display: flex;
  overflow: auto;
  margin: 50px 0px 50px 0px;
}

.card-list .card-exp {
  right: -52px;
  top: 80px;
  position: relative;
}

.cardErr {
  margin-top: 1em;
}

/* Confiramtion page */
/* .order {
  background-color: #f0f4f8;
  display: grid;
  grid-template-columns: 15em 6em 6em;
  padding: 1em;
} */

.parent {
  display: grid;
  grid-template-columns: repeat(4, 5em);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f0f4f8;
  padding: 1em;
  border-radius: 0.5em;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
  margin-bottom: 1em;
}
.div2 {
  grid-area: 2 / 1 / 3 / 3;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
}
.div5 {
  grid-area: 3 / 1 / 4 / 3;
}
.div6 {
  grid-area: 3 / 3 / 4 / 4;
}
.div7 {
  grid-area: 3 / 4 / 4 / 5;
}
.div8 {
  grid-area: 4 / 1 / 5 / 4;
}
.div9 {
  grid-area: 4 / 4 / 5 / 5;
}
.div10 {
  grid-area: 5 / 1 / 6 / 3;
  margin-top: 1em;
}
.div11 {
  grid-area: 5 / 3 / 6 / 4;
  margin-top: 1em;
}
.div12 {
  grid-area: 5 / 4 / 6 / 5;
  margin-top: 1em;
}

.light-card-text {
  font-family: "Poppins regular" !important;
  font-size: 15px !important;
  color: #748a9d !important;
}

.ticket-info {
  display: grid;
  grid-template-columns: 10em 10em;
  background-color: #f0f4f8;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.marg-top {
  margin-top: 1em;
}

.tik-info {
  grid-column: 1/3;
  margin-bottom: 1em;
}

/* iPad portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .pois-container {
    width: 100vw;
  }
  .hero {
    height: 85vh;
  }
  .hero-text {
    margin-top: 10em;
  }
}

/* iPad landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* iPhone portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .min-height {
    min-height: 70vh;
  }
  
  .booking-grid {
    min-height: 70vh;
  }

  .pois-container {
    width: 100vw;
  }
  .hero {
    height: 76vh;
  }
  .hero-text {
    margin: 0 0 10.5em 0;
  }
  .booking-fields > :first-child {
    display: none;
  }
  .pois-container {
    margin: 0px;
  }
  .left-chevron {
    position: absolute;
    left: 30px;
    top: 17px;
  }
  .card-list {
    display: flex;
    justify-content: unset;
    align-items: center;
  }
  .field-placeholder {
    padding: 0px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 168px;
  }
}

@keyframes drive {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(100vw);
  }
}

.radio-btn {
  position: absolute;
  padding-right: 50px;
  right: 10px;
  top: 10px;
  padding-left: 5px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.radio-btn input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: -3px;
  left: 85%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  opacity: 0;
}

/* When the radio button is checked, add a blue background */

.radio-btn input:checked ~ .checkmark {
  background-color: #06d3da;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 5px;
}

/* Create the indicator (the checkmark - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (checkmark) when checked */

.radio-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (checkmark) */

.radio-btn .checkmark:after {
  content: "✔";
  color: white;
  font-size: 15px;
}

/* iPhone landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .pois-container {
    width: 82vw;
  }
}
